<form class="form-inline">
  <div class="form-group no-print">
    <button class="btn btn-primary" ng-click="print()"><i class="fa fa-fw fa-print"></i>Print Selected</button>
  </div>
  <div class="form-group">
    <input class="form-control" ng-model="query" placeholder="Student Name or Crew" />
  </div>
</form>

<hr class=" no-print"/>

<table class="table table-striped">
  <thead>
  <tr>
    <th><input type="checkbox" ng-model="checkall" ng-click="checkallClick()"></th>
    <th><a ng-click="setSort('LastName', $event)" href="#">Name</a></th>
    <th class="hidden-xs-down"><a ng-click="setSort('Crew', $event)" href="#">Crew</a></th>
    <th><a ng-click="setSort('LastInstructorAssessment', $event)" href="#">Instructor</a></th>
    <th><a ng-click="setSort('LastIndividualAssessment', $event)" href="#">Individual</a></th>
    <th class="hidden-xs-down"><a ng-click="setSort('TotalInstructor', $event)" href="#">Total Instructor</a></th>
    <th class="hidden-xs-down"><a ng-click="setSort('TotalIndividual', $event)" href="#">Total Individual</a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="student in students | filter: query | orderBy: order">
    <td><input type="checkbox" ng-model="student.selected"></td>
    <td>{{student['LastName']}}, {{student['FirstName']}}</td>
    <td class="hidden-xs-down">{{student.Crew}}</td>
    <td>
      <a ui-sref="editAssessment({type: 'instructor', student: student.id})">
        <span ng-if="student['LastInstructorAssessment']"><span class="hidden-xs-down">Last:</span> {{student['LastInstructorAssessment'] | date:'M/d/yyyy'}}</span>
        <span ng-if="!student['LastInstructorAssessment']">+ Create</span>
      </a>
    </td>
    <td>
      <a ui-sref="editAssessment({type: 'individual', student: student.id})">
        <span ng-if="student['LastIndividualAssessment']"><span class="hidden-xs-down">Last:</span> {{student['LastIndividualAssessment'] | date:'M/d/yyyy'}}</span>
        <span ng-if="!student['LastIndividualAssessment']">+ Create</span>
      </a>
    </td>
    <td class="hidden-xs-down">{{student['TotalInstructor']}}</td>
    <td class="hidden-xs-down">{{student['TotalIndividual']}}</td>
  </tr>
  </tbody>
</table>